      - name: Run Federation E2E via Docker
        run: |
          docker compose \
            -f deploy/local/compose.federation-2node.yaml \
            -f deploy/local/compose.federation-2node.ADDENDUM.yaml \
            up --build --abort-on-container-exit federation-e2e